footer
    div(class="boxs")
        h2 Informações
        ul
            li
                a(href="#") Blog
            li
                a(href="#") Contato
            li
                a(href="#") E-mail 
    div(class="boxs")
        h2 Suporte
        ul
            li
                a(href="#") FAQ
            li
                a(href="#") Telefone
            li
                a(href="#") Chat
    div(class="boxs")
        h2 Agradecimentos 
        p A equipe Lucas agradece a sua visita em vosso site! Aprenda sobre grafos de maneira organizada e 
        
    div(class="boxs")
        h2 Trabalho 
        p Trabalho da disciplina de programação web 1 - Professor José 
        
div(class="footer")
    div(class="logo-imagem")
    div(class="sociais")
        div(class="social")
            a(href="#")
                i(class="fa fa-youtube" aria-hidden="true")
        div(class="social")
            a(href="#")
                i(class="fa fa-whatsapp" aria-hidden="true")
