//- header.pug
header
    div(class='container-logo')
        div(class='logo-imagem')
        div(class='logo-texto')
            h1 GRAFOS 
    div(class='menu')
        ul
            li 
                a(href='/') tela principal
            li
                a(href='/leitura') leitura
            li 
                a(href='/videos') videos
            li 
                a(href='/sobrenos') sobre nós
            li 
                a(href='/cadastrarse') cadastrar-se
            