extends includes/layout.pug

block conteudo  
    ul 
        li 
            h1 NOT FOUD 404
        li 
            h2 Volte para a tela principal, rota não encontrada! 
        li 
            a(href='/') Clique aqui
    img(src="/emotetriste.jpg")
