extends  includes/layout.pug

block conteudo
    h1 Página em construção
    h1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti doloremque nobis at ex est quidem omnis nostrum voluptate in, cumque, quod, vitae odit adipisci aut expedita provident ab debitis quibusdam.
    h1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti doloremque nobis at ex est quidem omnis nostrum voluptate in, cumque, quod, vitae odit adipisci aut expedita provident ab debitis quibusdam.
    h1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti doloremque nobis at ex est quidem omnis nostrum voluptate in, cumque, quod, vitae odit adipisci aut expedita provident ab debitis quibusdam.