//- index.pug
extends includes/layout.pug

block conteudo
     h1 Teoria do Grafos 
     h2 Seja bem-vindo ao nosso site. Se você deseja estudar esse ramo da matemática/computação está no caminho certo!
     h3 A ideia principal desse site é democratizar o ensino deste conteúdo de forma gratuita, disponibilizando diversos conteúdos através de fóruns, vídeos e textos. Assim, daremos base para que você prossiga seus estudos sozinho.
     img(src="/grafo.jpg")