extends includes/layout.pug


block conteudo
    h2 SEÇÃO DE LEITURA
    h3 Aqui você verá uma gama de sitios que lhe redirecionar para locais que abordam esse conteúdo
    h3 Bons estudos!
    a(class="butoes-leitura", href="https://www.ensinoeinformacao.com/teoria-dos-grafos") Ensino e informação.com
    a(class="butoes-leitura", href="https://www.inf.ufsc.br/grafos/definicoes/definicao.html") Universidade Federal de Santa Catarina - UFSC
    a(class="butoes-leitura", href="https://www.ime.usp.br/~yw/publications/books/TeoriaDosGrafos.pdf") Instituto Militar de Engenharia - IME
    a(class="butoes-leitura", href="https://medium.com/xp-inc/grafos-teoria-e-aplicações-2a87444df855") Medium
    a(class="butoes-leitura", href="http://www.obmep.org.br/docs/apostila5.pdf") Grafos - Estilo OBMEP
    a(class="butoes-leitura", href="https://algoritmosempython.com.br/cursos/algoritmos-python/algoritmos-grafos/representacao-grafos/#:~:text=Criando%20uma%20Classe%20para%20Representar,aresta%20entre%20dois%20vértices%2C%20etc.") Algoritimos em Python


