extends includes/layout.pug

block conteudo
    h1 Quem sou eu:
    img(class="saturnino-profile",src="/saturnino.jpeg")
    h2 Sou Lucas Oliveira, estudo no IFCe, onde curso o ensino médio técnico em informática. Atualmente, é bolsista cnpq, trabalhando no projeto: Algoritmos para formação de equipes. Pot conta disso, começou seus estudos com grafos.  
