extends  includes/layout.pug

block conteudo
    h2 SEÇÃO DE VIDEOS:
    h3 Aprender de forma lúcida, acompanhada de elementos visuais e auditivos, podem ser fatores importantes para seu aprendizado.
    iframe(width="560" height="315" src="https://www.youtube.com/embed/Frmwdter-vQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    iframe(width="560" height="315" src="https://www.youtube.com/embed/T6yKp82k9vM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    iframe(width="560" height="315" src="https://www.youtube.com/embed/fLNQfhpv-js" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)