* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
header {
    width: 100%;
    background-color: #579ece;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logo-imagem {
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    border-radius: 25px;
}
.conteudo {
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 0 auto;
}

.container-logo {
    display: flex;
    align-items: center;
}

.conteudo h1 {
    color: blue;
}
.conteudo h2 {
    color: blue;
}

.conteudo h3 {
    color: blue;
}
.butoes-leitura {
    display: table;
    width: 100%;
    position: relative;
    top: 10px;
    margin-bottom: 5px;
    background: greenyellow;
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 4px solid green;
    border-radius: 5px;
}
.butoes-leitura:hover {
    position: relative;
    top: 10px;
    background: gold;
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 4px solid blue;
    border-radius: 5px;
}

.logo-texto {
    margin-left: 20px;
    color: white;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}
.menu li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 15px;
}
.menu li a:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

footer {
    width: 100%;
    min-height: 250px;
    background-color: #579ece;
    display: flex;
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;

}

footer .boxs:nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: white;
    margin-bottom: 20px;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: #ddd;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: #fff;
}

.boxs p {
    color: #fff;
    text-align: justify;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #445afd;
    padding: 0 20px;
}
.footer h2 {
    color: #fff;
}
.footer .sociais {
    display: flex;
}
.sociais .social {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #ddd;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sociais .social a {
    color: #000;
    font-size: 1.5em;
}

.sociais .social:hover {
    background-color: #444;
}

.sociais .social:hover a {
    color: #000;
}

.saturnino-profile {
    width: 20%;
    border-radius: 20%;
    box-shadow: 3px 3px yellowgreen, -1em 0 0.4em blue;
}

iframe {
    margin-right: 10px;
}

















@media(max-width: 950px) {
    footer {
        flex-direction: column;
    }
    footer .boxs {
        width: 100%;
        text-align: center ;
    }
    footer .boxs:nth-child(5){
        width: 100%;
    }

    header {
        flex-direction: column;
    }
    header .boxs {
        width: 100%;
        text-align: center ;
    }
    header .boxs:nth-child(5){
        width: 100%;
    }
}